<!DOCTYPE html>
<html>

<head>
  <title>Anonymous Message Board</title>
  <meta name="description" content="landing page of messageboard">
  <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;600&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <h1 id="title">
      Welcome to the forum!
    </h1>
  </header>

  <div id="navigation">
    <h4>Visit a specific board:</h4>
    <input placeholder="board name" id='input'></input>
  </div>

  <div id='testui' style='margin-left: 5%'>
    <div id='create'>
      <h2 style="text-align: left">Create a new thread:</h2>

      <form action="/api/threads/test" method="post" id="newThread">
        <input type='text' placeholder='board' id='board1' name='board' required=''><br>
        <textarea type='text' id='textarea' placeholder='Thread text...' name='text' required=''></textarea><br>
        <input type='text' class="password" placeholder='password' name='delete_password' required=''><br>
        <input type="submit" id="submit" value="Submit">
      </form>
    </div>

    <hr>
  </div>

  <hr style='margin: 50px; margin-top: 200px'>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('#newThread').submit(function () {
        var board = $('#board1').val();
        $(this).attr('action', "/api/threads/" + board);
      });
    });
  </script>

</body>

</html>